@tailwind base;
@tailwind components;
@tailwind utilities;

.color-primary {
  background: #1abc9c;
}

body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: #f4f4f4;
}
